<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <div id="app">
            <div class="login card" v-if="!user.isLoggedIn">
                <h1 class="login__heading"> Welcome Back! </h1>
                <form class="login__form">
                    <input
                        class="login__form__input w-100"
                        type="email"
                        placeholder="Email"
                        v-model="user.email"
                    />

                    <input
                        class="login__form__input w-100"
                        type="password"
                        placeholder="Password"
                        v-model="user.password"
                    />

                    <button
                        class="login__form__button w-100"
                        type="button"
                        @click="login"
                    >
                        Submit
                    </button>
                </form>
            </div>

            <div v-else>
                <div class="ingredients card">
                    <div class="ingredients__add">
                        <input
                            class="ingredients__add__input"
                            :class="ingredientError ? 'ingredient__error-bg' : ''"
                            type="text"
                            @keyup="validateIngredient()"
                            @keyup.enter="addIngredient()"
                            placeholder="Enter Ingredient"
                            v-model="ingredientsInput"
                        />
                        <button
                            class="ingredients__add__button"
                            type="button"
                            @click="addIngredient(ingredientsInput)"
                        >
                            <i class="fas fa-plus fa-lg"></i>
                        </button>
                    </div>
                    <div class="ingredient__error-msg"> {{ ingredientError }} </div>

                    <div class="ingredients__list">
                        <div class="bold" v-show="ingredients.length === 0">Your ingredients will show here</div>
                        <div v-for="i in ingredients" :key="i">
                            <div class="ingredient">
                                <span v-text="i"></span>
                                <div
                                    class="ingredient__delete"
                                    @click="deleteIngredient(i)"
                                >
                                    <i class="ingredient__icon fas fa-times"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="delete-all"
                        v-show="ingredients.length"
                        @click="deleteAllIngredients()"
                    >
                        delete all
                    </div>

                    <div class="ingredients__search">
                        <button
                            class="ingredients__search__button bold w-100"
                            type="button"
                            @click="search"
                        >
                            Find Recipes
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>
